terraform-provider-aws_v5.31.0_x5
terrform/.terraform/providers/registry.terraform.io/hashicorp/aws/4.67.0/linux_amd64/terraform-provider-aws_v4.67.0_x5
terrform/Ansible_proj1/.terraform/providers/registry.terraform.io/hashicorp/aws/5.31.0/linux_amd64/terraform-provider-aws_v5.31.0_x5
terrform/infra1/.terraform/providers/registry.terraform.io/hashicorp/aws/5.31.0/linux_amd64/terraform-provider-aws_v5.31.0_x5
python/.terraform/providers/registry.terraform.io/hashicorp/aws/5.31.0/linux_amd64/terraform-provider-aws_v5.31.0_x5
terrform\kubernetes\.terraform\providers\registry.terraform.io\hashicorp\aws\5.68.0\windows_amd64\terraform-provider-aws_v5.68.0_x5.exe

